{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh;">
  <a href="{% url 'student-login' %}" class="btn btn-primary mb-3" style="align-self: flex-start;">Back</a>
  <h1 class="mb-5">Student Grades</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Class</th>
        <th>Midterm Grade</th>
        <th>Final Grade</th>
      </tr>
    </thead>
    <tbody>
      {% for grade in grades %}
      <tr>
        <td>{{ grade.class_field.class_name }}</td>
        <td>{{ grade.midterm }}</td>
        <td>{{ grade.final }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
