{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh;">
  <a href="{% url 'teacher-feed' %}" class="btn btn-primary mb-3" style="align-self: flex-start;">Back</a>
  <h1 class="mb-5">Edit Grade</h1>
  <form method="post" action="{% url 'teacher-feed' %}">
    {% csrf_token %}
    
    {{ form.as_p }}

    <button type="submit">Save</button>
  </form>
</div>

<script>
  function updateGrade(classId) {
    const classSelect = document.getElementById(classId);
    const midtermInput = document.getElementById('id_midterm');
    const finalInput = document.getElementById('id_final');
    
    const selectedClass = classSelect.value;
    
    const grades = {
      'Class A': { midterm: 80, final: 90 },
      'Class B': { midterm: 75, final: 85 },
    };

    const selectedGrade = grades[selectedClass];
    if (selectedGrade) {
      midtermInput.value = selectedGrade.midterm;
      finalInput.value = selectedGrade.final;
    } else {
      midtermInput.value = '';
      finalInput.value = '';
    }
  }
</script>
{% endblock %}
