{% extends 'base.html' %}

{% block content %}
<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="text-center">
    <h1>Login with:</h1>
    <div class="btn-group-vertical mt-4" role="group" aria-label="Login Buttons">
      <a href="{% url 'admin-page' %}" class="btn btn-primary btn-lg mb-3">Admin</a>
      <a href="{% url 'student-login' %}" class="btn btn-primary btn-lg mb-3">Student</a>
      <a href="{% url 'teacher-login' %}" class="btn btn-primary btn-lg mb-3">Teacher</a>
    </div>
  </div>
</div>
{% endblock %}
